[advice]
	statusHints = false
	detachedHead = false

[alias]
	st = status
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	incoming = "!git remote update -p; git log ..@{u}"
	outgoing = log @{u}..
	staged = diff --staged

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto

[checkout]
	workers = 0

[commit]
	gpgsign = on

[core]
	excludesFile = ~/.config/git/ignore
	#pager = delta

[credential]
	helper = cache

[diff]
	algorithm = histogram
	colorMoved = default
	compactionheuristic = true
	submodule = log

[init]
	defaultBranch = main

[interactive]
	#diffFilter = delta --color-only

[pull]
	ff = only
	twohead = ort

[push]
	default = simple

[status]
	short = true

[tag]
	gpgSign = true

[user]
	name = Peter Grayson
	email = pete@jpgrayson.net

###

[delta]
	navigate = true
	# side-by-side = true
	syntax-theme = 1337
	plus-style = "syntax #007000"

[fetch]
	prune = true

[github]
	user = jpgrayson

[stgit]
	gpgsign = false
	namelength = 50
	#diff-opts = --find-renames --find-copies --color-moved --color-moved-ws=allow-indentation-change

[stgit "color"]
	applied = "blue white reverse no-reverse "

[stgit "alias"]
	k = series -rOd
	kk = series -rId
	outgoing = !git log --show-signature @{u}..
	st = !git status -s
	stack = series -rOP --commit-id=7
	staged = diff -O--staged
	bottom = series --no-prefix 0

[log]
	initialDecorationSet = all
