[advice]
	statusHints = false
[alias]
	st = status
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	incoming = "!git remote update -p; git log ..@{u}"
	outgoing = log @{u}..
[user]
	name = Peter Grayson
	email = jpgrayson@gmail.com
[github]
	user = jpgrayson
[credential]
	helper = cache
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[push]
	default = simple
