/* One Dark */
@define-color bgr #282c34;
@define-color blk #5c6370;
@define-color red #e06c75;
@define-color grn #98c379;
@define-color ylw #e5c07b;
@define-color blu #61afef;
@define-color mag #c678dd;
@define-color cyn #56b6c2;
@define-color wht #abb2bf;
@define-color br_blk #4b5263;
@define-color br_red #be5046;
@define-color br_grn #98c379;
@define-color br_ylw #d19a66;
@define-color br_blu #61afef;
@define-color br_mag #c678dd;
@define-color br_cyn #56b6c2;
@define-color br_wht #3e4452;

* {
    border: none;
    border-radius: 2px;
    font-family: "IosevkaTerm Nerd Font";
    font-size: 16px;
    min-height: 0;
    color: @wht;
}

#mode,
#clock,
#battery,
#cpu,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#idle_inhibitor,
#window {
    border-bottom: 2px solid transparent;
    background: @br_blk;
}

#mode,
#clock,
#battery,
#cpu,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#window,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 1px;
}

#clock, #battery, #cpu, #backlight, #network, #pulseaudio, #wireplumber {
    min-width: 60px;
}

window#waybar {
    background: @bgr;
    border-bottom: 2px solid @br_wht;
}

window#waybar.empty #window {
    padding: 0 0;
    margin: 0 0;
    border-bottom-color: transparent;
    background: transparent;
}

#window {
    color: @wht;
    /* border-bottom-color: @cyn; */
    font-weight: bold;
    font-style: italic;
}

#mode {
    font-style: italic;
}

#workspaces button {
    padding: 0 5px;
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @br_wht;
}

#workspaces button.active {
    background: @br_wht;
    border-bottom-color: @wht;
}

#workspaces button.focused {
    background: @br_wht;
    border-bottom-color: @wht;
}

#workspaces button.focused:hover {
    background: @blk;
    border-bottom-color: @wht;
}

#workspaces button.urgent {
    border-bottom-color: @mag;
}

#mode {
    border-bottom-color: @grn;
}

#battery.full {
    border-bottom-color: @grn;
}

@keyframes bottomthrob {
    to {
        border-bottom-color: @br_blk;
    }
}

#battery.charging {
    border-bottom-color: @blu;
    animation-name: bottomthrob;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    color: @ylw;
    animation-name: bottomthrob;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: bottomthrob;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @blk;
    }
}

#cpu.p10 {
    border-bottom-color: @grn;
}

#cpu.p25 {
    border-bottom-color: @ylw;
}

#cpu.p50 {
    border-bottom-color: @br_ylw;
}

#cpu.p75 {
    border-bottom-color: @red;
}

#network.disconnected {
    border-bottom-color: @red;
}
#network.linked {
    border-bottom-color: @br_ylw;
}

/* #temperature { */
/*     border-bottom-color: @grn; */
/* } */

#temperature.critical {
    border-bottom-color: @red;
}

#idle_inhibitor.activated {
    border-bottom-color: @blu;
}

#pulseaudio.muted {
    border-bottom-color: @br_ylw;
    text-decoration: line-through;
}

#wireplumber.muted {
    border-bottom-color: @br_ylw;
    text-decoration: line-through;
}
