@import "frappe.css";

* {
    font-family: "IosevkaTerm Nerd Font";
    font-size: 16px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px
}

#workspaces {
    border-radius: 0.5rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

#workspaces button.active {
    color: @teal;
    border-radius: 0.5rem;
    background-color: @surface1;
}

#workspaces button.urgent {
    border-bottom-color: @pink;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 0.5rem;
}

#battery,
#clock,
#cpu,
#idle_inhibitor,
#network,
#pulseaudio,
#temperature,
#tray,
#wireplumber {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#clock {
    color: @blue;
    border-radius: 0px 0.5rem 0.5rem 0px;
    margin-right: 1rem;
}

#wireplumber {
    color: @sapphire;
    border-radius: 0.5rem 0px 0px 0.5rem;
    margin-left: 1rem;
}

#wireplumber.muted {
    color: @lavender;
    text-decoration: line-through;
}

#idle_inhibitor.activated {
    color: @yellow;
}

#network.ethernet {
    color: @sapphire;
}

#network.linked {
    color: @peach;
}

#network.disconnected {
    color: @yellow;
}

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}

#temperature.critical {
    color: @red;
}

#cpu.p10 {
    color: @sapphire;
}

#cpu.p25 {
    color: @teal;
}

#cpu.p50 {
    color: @green;
}

#cpu.p75 {
    color: @yellow;
}
